<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-circle" (click)="home()"></ion-icon>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
  <ion-text color="white">
    <h4>Pokemon app</h4>
    <h5>Táto aplikácia bola vytvorená za účelom školského projektu</h5>
    <h6>Pri tvorbe bola využitá <a href="https://pokeapi.co/" target="_system">PokeApi</a></h6>

    <h6>Kontakt:</h6>
    <h6>Email: m_skvarenina@utb.cz</h6>
    <h6>Tel.č.: +421919216362</h6>
  </ion-text>
</ion-header>



<ion-text color ="white">
  <h2>
    Made by Matej Škvarenina
  </h2>
</ion-text>

